---
// import BaseHead from "../components/BaseHead.astro";
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
import BlogPostList from "../components/BlogPostList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Side Projects</h1>
  <ul>
    <li>
      <a href='https://humankind-timeline.raphaelferrand.com'
        >Humankind Timeline</a
      > - A timeline of the history of humankind.
    </li>
    <li>
      <a href='https://borderlessborderline.com'>Borderless Borderline</a> - Artistic
      collective. Maps, photography, watercolor, ...
    </li>
    <li>
      <a href='https://fontane-di-roma.borderlessborderline.com'
        >Fontane di Roma</a
      > - An artistic experience through Rome. Navigate through Rome via maps, photo
      and short stories.
    </li>
    <li>
      <a href='https://maptheworld.no'>Map The World</a> - When Covid hits the world,
      travel space and music. Featured in "The Guardian"
    </li>
    <li>
      <a href='https://web-experiments.raphaelferrand.com'>Web Experiments</a> -
      A playground to experiment with web technologies. Play and ivestigate, without
      fear of getting burned. And write up what was learned.
    </li>
  </ul>
</Layout>
