---
import Topnav from "./Topnav.astro";
import SaveIcon from "../icons/SaveIcon.astro";
---

<header class='flex justify-between flex-wrap w-full'>
  <div class='title'>
    <a
      href='/'
      class='text-6xl font-bold uppercase leading-none flex items-center'
    >
      <div class='logo' transition:name='logo-header'>
        <div class='blob'></div>
        <SaveIcon />
      </div>
      {
        String(Astro.url.pathname) === "/" ? (
          <h1 class='text-2xl md:text-5xl title-text'>Raphaël Ferrand</h1>
        ) : (
          <p class='text-2xl md:text-5xl  title-text mb-0'>Raphaël Ferrand</p>
        )
      }
    </a>
  </div>

  <Topnav />
</header>
<style></style>
