---
import { SIDE_PROJECTS_ENABLED, EMAIL_CONTACT_ENABLED } from "../consts";
import DarkLightThemeToggle from "./DarkLightThemeToggle.astro";
---

<nav>
  <ul class='flex'>
    <li class='px-4 md:px-8'><a href='/' class=''>Blog</a></li>
    {
      SIDE_PROJECTS_ENABLED && (
        <li class='px-4 md:px-8'>
          <a href='/side-projects/' class=''>
            Side Projects
          </a>
        </li>
      )
    }
    {
      EMAIL_CONTACT_ENABLED && (
        <li class='px-4 md:px-8'>
          <a href='mailto:rfemailtesting@gmail.com'>Email me</a>
        </li>
      )
    }
    <li>
      <DarkLightThemeToggle />
    </li>
  </ul>
</nav>
